/*
General
 */
.App {
	text-align: left;
	font-size: .8em;
}
body {
	background-color: #edf1f2;
	color: #3a3a3a;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#logo {
	color: black;
	padding: 1em 1em 1em .5em;
	font-size: 2em;
	cursor: pointer;
}
.App-header {
	color: white;
	width: 100%;
}
.categories {
	position: fixed;
	width: 100%;
	z-index: 100;
}
.App-intro {
	font-size: 1em;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin: 0;
}

/*
Navigation
 */
.navToggle {
	color: black;
	background: grey;
	padding: 1.5em;
	vertical-align: middle;
	display: block;
	background-color: white;
	border: 1px solid grey;
	border-radius: 6px;
	margin: .5em;
	right: 0;
	cursor: pointer;
	z-index: 1000;
}
.navItem {
	display: block;
	padding: 12px .5em 12px .5em;
	color: rgb(40, 80, 123);
	font-weight: 700;
	font-size: 1.2em;
	border-bottom: 1px solid grey;
	cursor: pointer;
}
.navItem, .navToggle {
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.29);	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(229, 229, 229, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
}
.navItem:last-child {
	border-bottom: 1px solid grey;
}
.navItem.active {
	background: #91c5de;
	color: black;
}
.productDetail {
	margin: 0 1em 0 em;
}

/*
Vouchers
 */
.activeVouchers {
	color: green;
}
.voucherSavings {
	color: /*green*/ ;
}
.voucherError {
	display: block;
	margin-top: 1em;
}
input {
	margin-top: .5em;
	font-size: 1.2em;
	width: 97%;
}

/*
Cart
 */
.cartMoney {
	display: block;
}
.total {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 1em;
}
.cart {
	padding: 1em;
}
.cartMoney {
	display: block;
}
.cartContainer, #VoucherArea {
	top: 0;
	z-index: 1000;
	width: 100%;
}
.cartItem {
	margin-top: .5em;
	padding: .5em .7em;	/*border: 1px solid #666;*/
	background: white;
	border: 1px solid #d2d2d2;
	border-bottom: 1px solid #b1b1b1;
	border-top: 1px solid #dadada;
}
.cartDelete {
	float: right;	/*display: block;*/

	/*right: 0;*/
	text-align: right;
	color: rgb(0, 122, 255);
	cursor: pointer;
}
.cartList {
}
.cartMoney {
	margin-top: .5em;
}

/*
Products
 */
.productContainer {
	list-style: none;
	display: block;
	float: left;
	width: 50%;
	margin: .5em 0 0 0;
}
.product {
	margin: 0 .5em 0 .5em;
	border: 1px solid #ccc;
	border-radius: 6px;	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f9+0,ffffff+21 */
	background: rgb(242, 246, 249); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(242, 246, 249, 1) 0%, rgba(255, 255, 255, 1) 21%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(242, 246, 249, 1) 0%, rgba(255, 255, 255, 1) 21%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(242, 246, 249, 1) 0%, rgba(255, 255, 255, 1) 21%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f9', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}
.productContainer:nth-child(even) .product {
	margin-left: .25em;
}
.productContainer:nth-child(odd) .product {
	margin-right: .25em;
}
.product img {
	max-width: 100%;
	height: auto;
	margin-top: 3em;
}
.productControls {
	margin: .8em;
	position: absolute;
	width: 170px;
	text-overflow: hidden;
}
.addToCart, .soldOut {
	cursor: pointer;
	display: flex;
	color: rgb(0, 122, 255);
	text-align: center;
	height: 42px;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 1.2em;
	border-top: 1px solid #ccc;
}
.addToCart:hover {
	background-color: #ceeeff;
}
.addToCart:active {
	background-color: #b9d8e8;
}
.soldOut {
	color: grey;
	cursor: default;
}
.productColour, .productCat {
	font-size: .8em;
}
.productImage {
	text-align: center;
	padding: 1em;
	margin-top: 1.2em;
}
.productAvailability {
	color: #555;
	margin-left: 1em;
	font-size: .9em;
}
.productPrice {
	display: inline-block;
}
.productName {
	display: block;
	font-weight: 700;
}