/*
Mobile Phones
 */
@media (max-width:620px) {
  nav a {
    display: block;
  }
  .hiddenMobile {
    display: none;
  }
  .navToggle {
    position: fixed;
    top: 0;
  }
  .categories {
    top: 0;
  }
}

/*
Desktops
 */
@media (min-width:1300px) {
  #root {
    max-width: 1300px;
    margin: auto;
  }
}
@media (min-width:960px) {
  nav a {
    display: inline-block;
  }
  .cart {
    float: right;
    width: 33%;
    height: 100%;
  }
  .productContainer {
    width: 33%;
  }
  .cartItem {
  }
  .productList {
    width: 64%;
  }
}

/*
Tablets
 */
@media (min-width:620px) {
  .navToggle {
    display: inline-block;
  }
  .categories {
    border: 1px solid grey;
    margin: .5em;
    position: absolute;
    width: 200px;
  }
  .App-header {
    position: relative;
  }
  .productContainer {
    width: 33.333%;
  }
  .productContainer:nth-child(even) .product {
    margin-left: .5em;
  }
  .productContainer:nth-child(odd) .product {
    margin-right: .5em;
  }
  .productContainer:nth-child(3n+0) .product {
    margin-left: .25em;
  }
  .productContainer:nth-child(3n+1) .product {
    margin-right: .25em;
  }
  .productContainer:nth-child(2n+0) .product {
    margin: 0 .5em 0 .25em;
  }
}